<!-- child_template.html -->

{% extends "base.html" %} {% block title %}Dashboard - Login{% endblock %} {%
block header %}Dashboard - Login{% endblock %} {% block content %}
<div class="container mx-auto mt-8">
  <!-- htmx Form -->
  <form
    id="loginForm"
    class="max-w-md mx-auto bg-white p-8 rounded shadow-md"
    id="usernameForm"
  >
    <!-- Username Field -->
    <div class="mb-4">
      <label for="username" class="block text-gray-700 text-sm font-bold mb-2"
        >Username:</label
      >
      <input
        type="text"
        id="username"
        name="username"
        class="w-full p-2 border border-gray-300 rounded"
      />
    </div>
    <button
      type="submit"
      hx-post="/token"
      hx-trigger="click"
      hx-swap="none"
      class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-700"
    >
      Login
    </button>
  </form>
</div>

{% endblock %}
