<div class="bg-gray-800 text-white p-4">
  <ul class="flex flex-wrap justify-center space-x-4">
    <li class="mb-2 md:mb-0">
      <a href="/" class="hover:text-gray-300 hover:underline">Home</a>
    </li>
    <li class="mb-2 md:mb-0">
      <a href="/login" class="hover:text-gray-300 hover:underline">Login</a>
    </li>
    <li class="mb-2 md:mb-0">
      <a href="/login/tg" class="hover:text-gray-300 hover:underline"
        >Login-tg</a
      >
    </li>
    <li class="mb-2 md:mb-0">
      <a href="/events" class="hover:text-gray-300 hover:underline">Events</a>
    </li>
    <li class="mb-2 md:mb-0">
      <a href="/notes" class="hover:text-gray-300 hover:underline">Notes</a>
    </li>
  </ul>
</div>
